@charset "utf-8";
/* CSS Document */

/*   
Product: USSSA - WBSC Women's Baseball World Cup
Author: MuiscaDesign
Author URL: https://www.behance.net/muiscadesigns
*/

/*------------------------------------------------*/
/* GLOBAL YR
/*------------------------------------------------*/
body                        { background: #282828; margin: 0px; padding: 0px; background: #FFF; font: 400 18px/28px 'Titillium Web', Arial, Helvetica, sans-serif; }
img                         { border-style: none; }
.clearboth                  { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
*                           { margin: 0; padding: 0; }
.no-pad 					          { padding: 0; }		
.bg-red                     { background: #9B1134; }
.bg-red h2                  { color: #fff; }
.bg-white                   { background: #fff; }
.bg-grey                    { background: #e9e9e9; }
a                           { color: #000; cursor: pointer; }
a:hover                     { color: #9B1134; text-decoration: none; }
p                           { font: 400 18px/28px 'Titillium Web', Arial, Helvetica, sans-serif; color: #000; }
h2, h3, h4                  { text-transform: uppercase; }
h2                          { font-size: 30px; line-height: 30px; font-weight: 700; margin: 0 0 30px 0; }

/*------------------------------------------------*/
/* TOP
/*------------------------------------------------*/
#top                        { background: #fff; padding: 10px 0; }
.icons-nav a                { color: #A88740; margin-left: 20px;  }

/*------------------------------------------------*/
/* MAIN NAVBAR
/*------------------------------------------------*/
#main-menu                  { background: #4f001f url("../images/bg_header.jpg") no-repeat top center; font-size: 18px; font-weight: 600; text-transform: uppercase; padding: 20px 0; }
#main-menu a                { color: #9B1134; }
#main-menu a:hover, #main-menu:focus { color: #000; }
.navbar                     { padding-right: 0; }
.nav-link                   { padding-left: 20px !important; padding-right: 0 !important; }
.logo img                   { width: 100%; }
.menu-social                {}
.menu-social a              { background: #f2f2f2; padding: 8px; border-radius: 80px; font-size: 16px; margin-left: 20px; }

/*------------------------------------------------*/
/* SLIDER
/*------------------------------------------------*/

/*------------------------------------------------*/
/* CONTENT AREA
/*------------------------------------------------*/
.invite, .news, .groups, .timeline { padding: 50px 0; }
.timer                      { padding: 15px 0; text-transform: uppercase; }
.timer p                    { margin: 0; }
.groups                     { background: #9B1134 url("../images/bg_red_decor.png") no-repeat top left; }
.side-cnt-nav span          { font-size: 15px; margin: 0 5px 0 20px; }

/*------------------------------------------------*/
/* BUTTONS
/*------------------------------------------------*/
.btn                        { text-transform: uppercase; font-size: 18px; padding: 10px 20px; -moz-box-shadow: 0 0 4px #a4a4a4; -webkit-box-shadow: 0 0 4px #a4a4a4; box-shadow: 0 0 4px #a4a4a4; }

/*------------------------------------------------*/
/* FOOTER
/*------------------------------------------------*/
footer                      { background: #282828; padding: 20px 0; }
.subfooter                  { background: #3c3c3c; padding: 40px 0; }
.subfooter h4               { color: #f1f1f1; display: block; border-bottom: solid 1px #5d5d5d; padding-bottom: 5px; margin-bottom: 15px; font-size: 18px; }
.subfooter p, .subfooter li, .subfooter a { color: #f1f1f1; font-size: 13px; line-height: 23px; }
ul.footer-links             { margin: 0 0 0 20px; }
footer small                { color: #878787; }
.social-icons               { width: 30px; height: 30px; display: block; float: right; margin-left: 15px; }
.sm-facebook                { background: url(../images/icon_social.png) no-repeat left top; }
.sm-facebook:hover          { background-position: left bottom; }
.sm-twitter                 { background: url(../images/icon_social.png) no-repeat -30px top; }
.sm-twitter:hover           { background-position: -30px bottom; }
.sm-youtube                 { background: url(../images/icon_social.png) no-repeat -60px top; }
.sm-youtube:hover           { background-position: -60px bottom; }
.sm-instagram               { background: url(../images/icon_social.png) no-repeat right top; }
.sm-instagram:hover         { background-position: right bottom; }

/*------------------------------------------------*/
/* MEDIA QUERIES
/*------------------------------------------------*/
@media (max-width: 1200px)	{

}
@media (max-width: 1000px)	{

}
@media (max-width: 930px)	{

}
@media (max-width: 787px)	{

}
@media (max-width: 535px)	{

}
@media (max-width: 420px)	{

}