/*------------------------------------------------*/
/* FOOTER
/*------------------------------------------------*/

footer {
	background: $gray-base;
	padding: 20px 0;
}

.subfooter {
	background: $gray;
	padding: 40px 0;

	h2 {
		color: $brand-white;
		display: block;
		border-bottom: solid 1px $gray-darker;
		padding-bottom: 5px;
	}

	p, 
	li, 
	a {
		color: $gray-light;
		font-size: 13px;
		line-height: 23px;
	}

	ul.sponsors {
		margin: 0;

		li {
			text-align: center;
			padding: 4px 0;
			margin: 5px;
			list-style: none;
			background: #ededed;
		}

		img {
			max-width: 100%;
		}

	}

	ul.footer-links {
		margin: 0 0 0 20px;
	}

}

footer small {
	color: $gray-dark;
}

.social-icons {
	width: 30px;
	height: 30px;
	display: block;
	float: right;
	margin-left: 15px;
}
.sm-facebook {
	background: url(../images/icon_social.png) no-repeat left top;

	&:hover {
		background-position: left bottom;
	}

}
.sm-twitter {
	background: url(../images/icon_social.png) no-repeat -30px top;

	&:hover {
		background-position: -30px bottom;
	}

}
.sm-youtube {
	background: url(../images/icon_social.png) no-repeat -60px top;

	&:hover {
		background-position: -60px bottom;
	}

}
.sm-instagram {
	background: url(../images/icon_social.png) no-repeat right top;

	&:hover {
		background-position: right bottom;
	}

}