/*------------------------------------------------*/
/* GLOBAL YR
/*------------------------------------------------*/

body { 
	margin: 0px; 
	padding: 0px; 
	background: $gray-base; 
	font-family: $font-family-default; 
}

.clearboth { 
	clear: both; 
	height: 0; 
	line-height: 0; 
	overflow: hidden; 
	font-size: 0; 
}

* { 
	margin: 0; 
	padding: 0; 
}	

.sm-spacing {
	margin-top: 10px;
}

.md-spacing {
	margin-top: 20px;
}

.spacing {
	margin-top: 40px;
}

.no-bottom-space {
	margin-bottom: 0;
}
