/*------------------------------------------------*/
/* PAGINATION
/*------------------------------------------------*/

.pagination {
	border-radius: 0px;
	margin-bottom: 0px;
}

.pagination-sm .page-link {
	padding: .25rem .70rem;
}

.page-link, .page-item.disabled .page-link {
	background: $gray-light;
	border-color: $brand-white;
	color: $gray-base;
	font-family: $font-family-headings;
	text-transform: uppercase;
}

.page-link:hover {
	color: $gray;
}

.page-item.active .page-link {
	background: #cdcdcd;
	color: $gray-base;
	border-color: $brand-white;
}